{% extends 'base.html.twig' %}

{% block title %}Hello {% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Register</button>
    {{ form_end(form) }}
{% endblock %}


