{{ form_start(form) }}
    {{ form_row(form.marque, {'attr': {'placeholder': 'Exemple: Renaut'}}) }}
    {{ form_row(form.modele, {'attr': {'placeholder': 'Exemple: CLIO'}}) }}
    {{ form_row(form.type, {'attr': {'placeholder': 'Exemple: Compacte'}}) }}
    {{ form_row(form.couleur, {'attr': {'placeholder': 'Couleur'}}) }}
    {{ form_row(form.seats, {'attr': {'placeholder': 'nombre de place'}}) }}
    {{ form_row(form.pImmatriculation, {'attr': {'placeholder': 'Exemple: 2013'}}) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}