{% extends 'base.html.twig' %}

{% block title %}Edit Vehicule{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <div class="box box-warning">
            <h1 class="box-header">Edit Vehicule</h1>
            <div class="box-body">
                {{ include('vehicule/_form.html.twig', {'button_label': 'Update'}) }}
                {{ include('vehicule/_delete_form.html.twig') }}
                <a href="{{ path('my_vehicules') }}">back to list</a>
            </div>
        </div>
    </div>
    <h1></h1>

{% endblock %}