{% extends 'base.html.twig' %}

{% block title %}Vehicule index{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <div class="box">
            <h1 class="box-header">Vehicule List</h1>
            <div class="box-body">
                <div>
                    <a class="btn btn-primary" href="{{ path('vehicule_new') }}" style="margin-bottom: 10px">Create new</a>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Marque</th>
                        <th>Modele</th>
                        <th>Type</th>
                        <th>Couleur</th>
                        <th>1er Immatriculation</th>
                        <th>Seats</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for vehicule in vehicules %}
                        <tr>
                            <td>{{ vehicule.id }}</td>
                            <td>{{ vehicule.marque }}</td>
                            <td>{{ vehicule.modele }}</td>
                            <td>{{ vehicule.type }}</td>
                            <td>{{ vehicule.couleur }}</td>
                            <td>{{ vehicule.pImmatriculation ? vehicule.pImmatriculation|date('Y') : '' }}</td>
                            <td>{{ vehicule.seats }}</td>
                            <td>
                                <a href="{{ path('vehicule_show', {'id': vehicule.id}) }}">show</a>
                                <a href="{{ path('vehicule_edit', {'id': vehicule.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="9">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}