{% extends 'base.html.twig' %}

{% block title %}New Vehicule{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <div class="box box-primary">
            <h1 class="box-header">
                Create new Vehicule
            </h1>
            <div class="box-body">
                {{ include('vehicule/_form.html.twig') }}
                <a href="{{ path('my_vehicules') }}">back to list</a>
            </div>
        </div>
    </div>
{% endblock %}