{% extends 'base.html.twig' %}

{% block title %}Vehicule{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <div class="box box-primary">
            <h1 class="box-header">
                Vehicule Informations
            </h1>
            <div class="box-body">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ vehicule.id }}</td>
                    </tr>
                    <tr>
                        <th>Marque</th>
                        <td>{{ vehicule.marque }}</td>
                    </tr>
                    <tr>
                        <th>Modele</th>
                        <td>{{ vehicule.modele }}</td>
                    </tr>
                    <tr>
                        <th>Type</th>
                        <td>{{ vehicule.type }}</td>
                    </tr>
                    <tr>
                        <th>Couleur</th>
                        <td>{{ vehicule.couleur }}</td>
                    </tr>
                    <tr>
                        <th>PImmatriculation</th>
                        <td>{{ vehicule.pImmatriculation ? vehicule.pImmatriculation|date('Y') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Seats</th>
                        <td>{{ vehicule.seats }}</td>
                    </tr>
                    </tbody>
                </table>
                {% if app.user == vehicule.owner %}
                    <a class="btn btn-warning" style="color: white;" href="{{ path('vehicule_edit', {'id': vehicule.id}) }}">edit</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}