.box {
    border: 1px solid #a8a8a8;
    background-color: white;
}
.box.box-success {
    border: 1px solid #28a745;
}
.box.box-success .box-header {
    background-color: #28a745;
}
.box.box-primary {
    border: 1px solid #007bff;
}
.box.box-primary .box-header {
    background-color: #007bff;
}
.box.box-warning {
    border: 1px solid #ffc107;
}
.box.box-warning .box-header {
    background-color: #ffc107;
}
.box .box-header {
    text-align: center;
    background-color: #a8a8a8;
    color: white;
    padding: 10px;
}
.box .box-body {
    padding: 10px;
}