{% extends 'base.html.twig' %}

{% block title %}Accessory index{% endblock %}

{% block body %}
    <h1>Accessory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for accessory in accessories %}
            <tr>
                <td>{{ accessory.id }}</td>
                <td>{{ accessory.name }}</td>
                <td>
                    <a href="{{ path('accessory_show', {'id': accessory.id}) }}">show</a>
                    <a href="{{ path('accessory_edit', {'id': accessory.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('accessory_new') }}">Create new</a>
{% endblock %}