{% extends 'base.html.twig' %}

{% block title %}New Accessory{% endblock %}

{% block body %}
    <h1>Create new Accessory</h1>

    {{ include('accessory/_form.html.twig') }}

    <a href="{{ path('accessory_index') }}">back to list</a>
{% endblock %}