{% extends 'base.html.twig' %}

{% block title %}Accessory{% endblock %}

{% block body %}
    <h1>Accessory</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ accessory.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ accessory.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('accessory_index') }}">back to list</a>

    <a href="{{ path('accessory_edit', {'id': accessory.id}) }}">edit</a>

    {{ include('accessory/_delete_form.html.twig') }}
{% endblock %}