{{ form_start(form) }}
    {{ form_row(form.aller) }}
    {{ form_row(form.aFrom) }}
    {{ form_row(form.aTo) }}
    {{ form_row(form.nbrPlace) }}
    {{ form_row(form.isMax2BackSeats, { label_attr: {class: 'checkbox-custom'} }) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}