{% extends 'base.html.twig' %}

{% block title %}Edit Trip{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <div class="box box-warning">
            <h1 class="box-header">Edit Trip</h1>
            <div class="box-body">
                {{ include('trip/_form.html.twig', {'button_label': 'Update'}) }}

                <a href="{{ path('trip_index') }}">back to list</a>

                {{ include('trip/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}