{% extends 'base.html.twig' %}

{% block title %}Trip index{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <div class="box">
            <h1 class="box-header">
                Trip List
            </h1>
            <div class="box-body">
                <a class="btn btn-primary" style="margin-bottom: 10px; " href="{{ path('trip_new') }}">Create new</a>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Aller</th>
                        <th>Vehicule</th>
                        <th>Passagers</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for trip in trips %}
                        <tr>
                            <td>{{ trip.id }}</td>
                            <td>{{ trip.aller ? trip.aller|date('d-m-Y H:i') : '' }}</td>
                            <td>{{ trip.vehicule.modele }}</td>
                            <td>{{ trip.passagers.count }}</td>
                            <td>
                                <a href="{{ path('trip_show', {'id': trip.id}) }}">show</a>
                                {% if trip.owner == app.user %}
                                <a href="{{ path('trip_edit', {'id': trip.id}) }}">edit</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}