{% extends 'base.html.twig' %}

{% block title %}New Trip{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <div class="box box-primary">
            <h1 class="box-header">Create new Trip</h1>
            <div class="box-body">
                {{ include('trip/_form.html.twig') }}
                <a href="{{ path('trip_index') }}">back to list</a>
            </div>
        </div>
    </div>
{% endblock %}