{% extends 'base.html.twig' %}

{% block body %}
    <h1>Are you sure you want to reserve this trip?</h1>
    {{ form_start(form) }}
    <button type="submit" class="btn btn-success">Yes</button>
    <a href="{{ path('trip_show', {'id': trip.id}) }}" class="btn">Retour</a>
    {{ form_end(form) }}
{% endblock %}

