{% extends 'base.html.twig' %}

{% block title %}Trip{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="box">
                    <h1 class="box-header">
                        Trip Information
                    </h1>
                    <div class="box-body">

                        <table class="table">
                            <tbody>
                            <tr>
                                <th>Aller</th>
                                <td>{{ trip.aller ? trip.aller|date('d-m-Y H:i') : '' }}</td>
                            </tr>
                            <tr>
                                <th>From</th>
                                <td>{{ trip.aFrom.name }}</td>
                            </tr>
                            <tr>
                                <th>To</th>
                                <td>{{ trip.aTo.name }}</td>
                            </tr>
                            <tr>
                                <th>Price</th>
                                <td>{{ trip.price }}DH</td>
                            </tr>
                            <tr>
                                <th>Vahicule</th>
                                <td>
                                    <a href="{{ path('vehicule_show', {'id': trip.vehicule.id}) }}">
                                        {{ trip.vehicule.modele }}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th>Owner</th>
                                <td>
                                    <a href="{{ path('user_show', {'id': trip.owner.id}) }}">
                                        {{ trip.owner.username }}
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <a href="{{ path('trip_index') }}"class="btn btn-secondary" style="color: white;">back to list</a>
                        {% if app.user != trip.owner %}
                            {% for passager in trip.passagers %}
                                {% if passager.passager != app.user %}
                        <a href="{{ path('trip_reserve', {'id': trip.id}) }}" class="btn btn-success" style="color: white;">reserver</a>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <a href="{{ path('trip_edit', {'id': trip.id}) }}" class="btn btn-warning" style="color: white;">edit</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box box-success">
                    <h1 class="box-header">
                        Passagers
                    </h1>
                    <div class="box-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Avatar</th>
                                    <th>Username</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for passger in trip.passagers %}
                                    {% if app.user == trip.owner %}
                                    <tr>
                                        <td><img src="{{ asset('imgs/img_avatar.png') }}" alt="Avatar" style="border-radius: 50%; width: 50px;"></td>
                                        <td>
                                            {{ passger.passager.username }}
                                        </td>
                                            {% if passger.isAccepted %}
                                                <td>

                                                    <form style="display: inline" method="post" action="{{ path('reservation_deny', {'id': passger.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                                        <input type="hidden" name="_method" value="DELETE">
                                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ passger.id) }}">
                                                        <button class="btn btn-danger btn-sm">Remove</button>
                                                    </form>
                                                </td>

                                            {% else %}<td>
                                                <a class="btn btn-success btn-sm" href="{{ path('reservation_accept', {'id': passger.id}) }}">Accept</a>
                                                <form style="display: inline" method="post" action="{{ path('reservation_deny', {'id': passger.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ passger.id) }}">
                                                    <button class="btn btn-danger btn-sm">Deny</button>
                                                </form>
                                                </td>
                                            {% endif %}
                                    </tr>
                                    {% else %}
                                        {% if passger.isAccepted %}
                                            <tr>
                                                <td><img src="{{ asset('imgs/img_avatar.png') }}" alt="Avatar" style="border-radius: 50%; width: 50px;"></td>
                                                <td>
                                                    {{ passger.passager.username }}
                                                </td>
                                                <td>
                                                    <div class="alert alert-success" style="padding: 2px; text-align: center" role="alert">
                                                        Accepted
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    <tr>
                                        <td>
                                            no records yet
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}