<form action="{{ path('search') }}" method="post" class="col-md-8 form-inline offset-md-2">
    <div class="col-md-3">
        <div class="input-group mb-3">
            {{ form_widget(form.depart) }}
        </div>
    </div>
    <div class="col-md-3">
        <div class="input-group mb-3">
            {{ form_widget(form.destination) }}
        </div>
    </div>
    <div class="col-md-3">
        <div class="input-group mb-3">
            {{ form_widget(form.date) }}
        </div>
    </div>
    <div class="col-md-3">
        <button class="btn btn-block btn-primary" type="submit" style="margin-bottom: 1rem !important;"> Search</button>
    </div>
</form>