{% extends 'base.html.twig' %}

{% block body %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="aaa">
        <div class="form-search">
            <h1 class="display-3">La communauté est là pour vous</h1>
            <h3>Le covoiturage simplifie vos trajets #touscovoitureurs</h3>
            {{ render(controller('App\\Controller\\DefaultController::search')) }}
        </div>
    </div>
{% endblock %}
