<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{{ path('index') }}">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
        </ul>
        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
        <span style="padding-left: 10px;">
            <a class="btn btn-outline-secondary" href="{{ path('login') }}">Login</a>
        </span>
        <span style="padding-left: 10px;">
            <a class="btn btn-outline-secondary" href="{{ path('register') }}">Register</a>
        </span>
        {% else %}
            <ul class="navbar-nav ">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white">
                        <i class="far fa-user"></i> {{ app.user.username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('trip_new') }}"><i class="fas fa-plus-circle"></i> Create new trip</a>
                        <a class="dropdown-item" href="{{ path('my_trips') }}"><i class="fas fa-list-alt"></i> List of my trips</a>
                        <a class="dropdown-item" href="{{ path('my_vehicules') }}"><i class="fas fa-car"></i> List of my vehicules</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('logout') }}"><i class="fas fa-power-off"></i> Logout</a>
                    </div>
                </li>
            </ul>
        {% endif %}
        <span>
            <a href="{{ path('trip_new') }}" class="btn btn-primary" style="color: white"><i class="fas fa-plus-circle"></i> Proposer un trajet</a>
        </span>
    </div>
</nav>