<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">

        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
        <style>
            body {
                padding-top: 3.5rem;
                background-color: #eaeaea;
            }
            .aaa {
                color: white;
                background-image: url({{ asset('/imgs/home.jpg') }});
                position: relative;
                min-height: 320px;
                height: 80vh;
                border-radius: 0;
                background-position: 50% 20%;
                min-width: 450px;
                background-color: transparent;
                background-repeat: no-repeat;
                background-size: cover;
                text-align: center;
            }
            .aaa .form-search {
                /*margin: 0;
                position: absolute;
                top: 60%;
                left: 50%;
                transform: translate(-50%, -50%);*/
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                background-image: linear-gradient(to top, rgba(0,0,0,0.8), transparent 100%);
            }
            .aaa .form-search h1{
                font-weight: bold;
                font-size: 55px;
            }
            .aaa .form-search h3{
                font-weight: bold;
                font-size: 30px;
            }
        </style>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {% include('includes/_navbar.html.twig') %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endfor %}
        {% block body %}{% endblock %}
    <br>
        {% block javascripts %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    </body>
</html>


