{% extends 'base.html.twig' %}

{% block title %}Addresse index{% endblock %}

{% block body %}
    <h1>Addresse index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for addresse in addresses %}
            <tr>
                <td>{{ addresse.id }}</td>
                <td>{{ addresse.name }}</td>
                <td>
                    <a href="{{ path('addresse_show', {'id': addresse.id}) }}">show</a>
                    <a href="{{ path('addresse_edit', {'id': addresse.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('addresse_new') }}">Create new</a>
{% endblock %}