{% extends 'base.html.twig' %}

{% block title %}Addresse{% endblock %}

{% block body %}
    <h1>Addresse</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ addresse.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ addresse.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('addresse_index') }}">back to list</a>

    <a href="{{ path('addresse_edit', {'id': addresse.id}) }}">edit</a>

    {{ include('addresse/_delete_form.html.twig') }}
{% endblock %}