{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <br>
    <div class="container">
        <div class="box box-primary">
            <h1 class="box-header">
                User Informations
            </h1>
            <div class="box-body">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ user.id }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>Username</th>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <th>Tel</th>
                        <td>{{ user.tel }}</td>
                    </tr>
                    </tbody>
                </table>
                {% if app.user == user %}
                    <a class="btn btn-warning" style="color: white" href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                    {{ include('user/_delete_form.html.twig') }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}